.home-container {
    position: relative;
    text-align: center;
    color: white;
  }


  .centered {
    position: absolute;
    width: 20%;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel-control-next, .carousel-control-prev {
    display: none !important;
  }